$adr-primaryColor: hsl(9, 100% , 72%);
$adr-white: hsl(0,0,100%);
$adr-dm-h: hsl(9,4%,96%);
$adr-dm-m: hsl(9,4%,74%);
$adr-dm-d: hsl(9,4%,52%);
$adr-dm-s: hsl(9,4%,30%);

$adr-black: hsl(0,0,0);
$adr-nm-s: hsl(9,4%,14%);
$adr-nm-d: hsl(9,4%,36%);
$adr-nm-m: hsl(9,4%,58%);
$adr-nm-h: hsl(9,4%,80%);