$p: hsl(225, 90% , 31%);
$a: hsl(9, 100% , 72%);
$h1: hsl(180,4%,92%);
$h2: hsl(180,4%,81%);
$m1: hsl(180,4%,70%);
$m2: hsl(180,4%,59%);
$d1: hsl(180,4%,48%);
$d2: hsl(180,4%,37%);
$s1: hsl(180,4%,26%);
$s2: hsl(180,4%,15%);
$b: black;
$w: white;
$yellow7: #8A9608;
$yellow6: #FFF129;
$blue7: #082B96;
$blue5: #3491F4;
$blue8: #061f6b;