@import 'color';

* , *:before , *:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

$motion : .3s all ease;

html {
    font-size:8px;
  }
body{
    background-color: black;
    font-size: 8px;
}

::-webkit-scrollbar {
    width: .5rem;
  }
  

  ::-webkit-scrollbar-track {
    background : $adr-nm-s;
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: $adr-nm-d;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: $adr-nm-m; 
}

.lazy-wrapper{
 position: relative;
}
.lazy-wrapper svg, .lazy-wrapper img{
  position: absolute;
  top: 0;
  z-index: -1;
}

.br{
 border: 1px solid $adr-nm-s;
}
.br--tab{
  border: 1px solid $adr-nm-s;
  border-top:0;
 }
 .br--dont{
  border: 1px solid $adr-nm-s;
  border-bottom: 8px solid  #d73400;
}
.br--do{
  border: 1px solid $adr-nm-s;
  border-bottom: 8px solid #26c260;
}
.br--allowed{
  border: 1px solid $adr-nm-s;
  border-bottom: 8px solid #fdc215;
}
 img{
   width: 100%;
   background-color: white;
 }
 .black , .black > svg{
  background-color: unset;
 }
 .lottie>svg{
   border: 1px solid $adr-nm-s;
 }
 .brLess>svg{
  border: 0px solid $adr-nm-s;
}
 .lottie--dont > svg{
  border: 1px solid $adr-nm-s;
  border-bottom: 8px solid  #d73400;
}