$desktopx: 1600px;
$desktop:1200px;
$tablet: 900px;
$mobile: 600px;
@mixin grid(){
    width: 100%;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    gap: 3rem;
}
@mixin tablet(){
    @media only screen and (max-width:$tablet){
        @content;
    }
}
@mixin mobile(){
    @media only screen and (max-width:$mobile){
        @content;
    }
}
@mixin desktop(){
    @media only screen and (max-width:$desktop){
        @content;
    }
}
@mixin desktopx(){
    @media only screen and (min-width:$desktopx){
        @content;
    }
}
.wr{
    max-width: 1600px;
    margin: 0 auto;
    transition: unset;
    @include grid();
    @include desktop(){
        padding: 0 3rem;
        grid-template-columns: repeat(12 , 1fr);
        gap: 3rem;
    }
    @include tablet(){
        padding: 0 2rem;
        grid-template-columns: repeat(8 , 1fr);
        gap: 2rem;
    }
    @include mobile(){
        padding: 0 2rem;
        grid-template-columns: repeat(4 , 1fr);
        gap: 2rem;
    }
}
.wr--full{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

$col:(
    "12" : span 12,
    "9" : span 9,
    "8" : span 8,
    "6" : span 6,
    "4" : span 4,
    "3" : span 3,
    "2" : span 2,
    "1" : span 1,
);
@function column($span){
    @return map-get($col, $span);
}
.col12{
    grid-column: column("12");
    @include tablet(){
        grid-column: column("8");
    }
    @include mobile(){
        grid-column: column("4");
    }
}
.col9{
    grid-column: column("9");
    @include tablet(){
        grid-column: column("8");
    }
    @include mobile(){
        grid-column: column("4");
    }
}
.col8{
    grid-column: column("8");
    @include tablet(){
        grid-column: column("8");
    }
    @include mobile(){
        grid-column: column("4");
    }
}
.col6{
    grid-column: column("6");
    @include tablet(){
        grid-column: column("4");
    }
    @include mobile(){
        grid-column: column("4");
    }
}
.col4{
    grid-column: column("4");
}
.col3{
    grid-column: column("3");
    @include tablet(){
        grid-column: column("4");
    }
    @include mobile(){
        grid-column: column("4");
    }
}
.col2{
    grid-column: column("2");
}
.col1{
    grid-column: column("1");
}
section{
    margin-bottom: 10rem;

}