@import 'general';
@import 'typography';
@import 'color';
@import 'grid';
@import 'tab';
@import 'tocbot';
@import 'imgComparison';
@import 'accordion';
header{
    width: 100%;
    height: 9rem;
    border-bottom: 1px solid $h2;
    background-color: $w;
    z-index:100;
    position: fixed;
    top: 0;
    transition: $motion;
    @include mobile{
        height: 16rem;
    }
}
.header {
    height: 9rem;
    top: 0;
    &--hidden{
        top: -9rem;
        transition: $motion;
        @include mobile{
            top: -14.5rem;
        }
    }
    &__logo{
        grid-column: 1/4;
        justify-self: left;
        display: inline;
        @include mobile{
            grid-column: 2/3;
        }
        @include tablet{
            grid-column: 2/3;
        }
    }
    &__logoSvg{
        height: 3rem;
        margin: 3rem 0;
    }
    @include tablet{
        grid-template-columns: 3rem 108px  1fr 1fr 1fr 1fr 1fr 60px;
    }
    @include mobile{
        grid-template-columns:  3rem 1fr 60px;
        height: unset;
        row-gap: 0;
    }
    &__menu{
        grid-column: 4/12;
        @include tablet{
            grid-column: 3/8;
        }
        @include mobile{
            grid-column: 1/4;
            grid-row: 2;
        }
    }
    &__list{
        @include mobile{
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    &__item{
        display: inline-block;
        margin: 0rem 2rem 0rem 0;
        height: 9rem;
        @include mobile{
            height: 6.75rem;
            margin: 0;
        }
        &--active{
            border-bottom: 2px solid $p;
        }
        & > a{
            margin: 3.25rem 0 3rem 0;
            display: block;
            height: 2rem;
            @include mobile{
                margin: 2rem 0 2rem 0;
                text-align: center;
            }
            &:hover{
            color: $p;
            
        }
        }
    }
    &__translate{
        grid-column: 12/13;
        justify-self: right;
        align-self: center;
        @include tablet{
            grid-column: 8/9;
        }
        @include mobile{
            grid-column: 3/4;
        }
        
    }
    &__transtxt{
        float: right;
    }
    &__transSwitch{
        border: 2px solid $d1;
        width: 24px;
        height: 16px;
        float: right;
        margin-left: 8px;
        cursor: pointer;
        
        transition: $motion;
        &--active{
            
        transition: $motion;
            border: 2px solid $p;
        }
    }
    &__transPin{
        width: 8px;
        height: 8px;
        background-color: $d1;
        margin: 2px 2px 2px 10px;
        transition: $motion;
        &--active{
            transition: $motion;
            background-color: $p;
            margin: 2px 10px 2px 2px;
        }
    }
    &__hamico{
        display: none;
        width: 3rem;
        height: 3rem;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        margin: 3rem;
        z-index: 1000;
        cursor: pointer;
        transition: $motion;
        &--hidden{
            transition: $motion;
            top: -9rem;
        }
        @include tablet{
            display:block;
        }
        
    
    }
    &__hamline{
        width: 20px;
        height: 2px;
        background-color: $b;
        position: absolute;
        top:11px;
        left: 2px;
        transition: $motion;
        &:before{
            content: '';
            width: 20px;
            height: 2px;
            background-color: $b;
            position: absolute;
            top: -8px;
            left: 0px;
            transition: $motion;
        }
        &:after{
            content: '';
            width: 20px;
            height: 2px;
            background-color: $b;
            position: absolute;
            top: 8px;
            left: 0px;
            transition: $motion;
        }
        &--open{
            transition: $motion;
            background-color: transparent;
            &:after{
                transition: $motion;
                content: '';
                transform: rotate(-45deg) translate(6px , -5px);
                
            }
            &:before{
                transition: $motion;
                content: '';
                transform: rotate(45deg) translate(6px , 5px);
                
            }
    }
    }

}
.main{
    padding-top: 10.5rem;
    overflow: hidden;
    @include mobile{
        padding-top: 16rem;
    }
    &__article{
        grid-column: 4/13;
        @include tablet{
            grid-column: 1/13;
        }
        
    }
    &__nav{
        position: fixed;
        top: 15rem;
        height: calc(100vh - 10.5rem);
        width: calc(((((100% - 24rem) - 33rem) / 12) * 3) + 6rem);
        transition: $motion;
        @include desktop{
            width: calc(((((100% - 6rem) - 33rem) / 12) * 3) + 6rem);
        }
        @include desktopx{
            width: 334px;
        }
        @include tablet{
            padding: 9rem 0rem 0rem 3rem;
            width: 300px;
            background-color: $w;
            left: -300px;
            top:0;
            border-right: 1px solid $h2;
            height: 100vh;
            z-index: 200;
        }
        
        &--open{
            transition: $motion;
            left: 0px;
        }
        &--up{
            transition: $motion;
            top : 3rem;
            height: calc(100vh - 3rem);
        }
    }
    &__menu{
        display: none;
        margin-bottom: 3rem;
        @include tablet{
            display: block;
        }
    }
    &__menuItem{
        margin-bottom: 1rem;
        & > a{
            font-size: 2.5rem;
        }
        &--active > a{
            color: $p;
        }
    }

}
.icons{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    row-gap: 6rem;
    padding: 6rem 0;
    @include tablet{
        grid-template-columns: repeat(8 , 1fr);
    }
    @include mobile{
        grid-template-columns: repeat(6 , 1fr);
    }
        &__icon{
        text-align: center;
        grid-column: span 2;
        width: 100%;
            &--unavailable::before{
             color: $d1 !important;
            }
        }
    & i{
        &::before{
            font-size: 9rem;
        }
    }
}
.colorBox{
    &_info{
        padding: 2rem;
    }
    &_info--fade{
        padding: 2rem;
        opacity: 0;
        transition: $motion;
    }
     &_info--fade:hover{
        opacity: 1;
        transition: $motion;
    }
}
.compare{
    margin-bottom: 2rem;
    &__title{
        margin-bottom: 1rem;
    }
    &__subTitle{
        position: relative;
        margin-bottom: .5rem;
    }
    &__subTitle p:nth-child(1){
        color: $p;
    }
    &__subTitle p:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
    }
    &__slider{
        position: relative;
    }
    &__left{
        height: 1rem;
        background-color: $p;
        position: absolute;
    }
    &__right{
        height: 1rem;
        width: 100%;
        background-color: $w;
    }
}
.smallest{
    position: relative;
    &__img{
        position: absolute;
        left: 50%;
        top: 50% !important;
        transform: translate(-50% , -50%);
        z-index: 1  !important;
    }
}